<head>
	  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">

  
<body>
<div class="jumbotron">
  <div class="container" style="text-align:center; float:center" font-weight:900>
    <h1>Te conectamos con las empresas que hacen innovación</h1>
    <h2>Muestrales tus productos/servicios y empieza a hacer negocios</h2>
    <a class="btn btn-primary btn-lg">SABER MAS &raquo;</a></p>

  </div>
    
  </div>
</div>

<link href="css/bootstrap.css" rel="stylesheet">

  <style type="text/css">

      
.jumbotron {

  background-image:linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)), url('http://www.peruarki.com/wp-content/uploads/2008/02/el_puente_mas_largo_del_mundo_fxfowle_peruarki_2-660x466.jpg');
  background-size: cover;
  background-repeat:no-repeat;
  height: 450px;


}

  </style>
  <div class="container">
    <h2>Empresas</h2>
    <h3>Contactate con la persona indicada en:</h3>
  <span class="label" id="monitor" ></span>
    <br><br>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://www.cartafinanciera.com/wp-content/uploads/2013/08/logo-aerolineas-lan.jpg">
      <div class="caption">
        <h3>LAN:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://www.abord.cl/wp-content/uploads/2012/07/Ultramar.jpg">
      <div class="caption" >
        <h3>ULTRAMAR:</h3>
        <p>lorem</p>
       <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
    </div>
</div> 
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://static.betazeta.com/www.wayerless.com/up/2010/02/entel2.jpg">
      <div class="caption">
        <h3>ENTEL:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
      </div>
</div> 
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://www.sanatoriomaritimo.cl/wordpress/wp-content/uploads/bci.jpg">
      <div class="caption">
        <h3>BCI:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
      </div> 
</div> 

<br>

  </style>
<div class="container">
<br><br>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://www.hornoschile.cl/fotos/logo_agrosuper.jpg" class="img-circle">
      <div class="caption">
        <h3>AGROSUPER:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://semiaccurate.com/assets/uploads/2011/09/3M-logo.jpg">
      <div class="caption">
        <h3>3M:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
    </div>
</div> 
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://www.coinschile.com/files//footer/centro_innovacion_uc_anacleto.png" class="img-circle">
      <div class="caption">
        <h3>CENTRO INNOVACION UC:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
      </div>
</div> 
<div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img data-src="holder.js/300x200" image src="http://pwp.etb.net.co/ovbrokers/ov%20brokers%20group/Images/SURA%20ASEPROZDA.JPG" class="img-circle">
      <div class="caption">
        <h3>SURA:</h3>
        <p>lorem</p>
        <p><a href="#" class="btn btn-primary">CONTACTAR</a> </p>
      </div>
      </div> 
</div> 


<BODY>




